@import url('/styles/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Inter:wght@400;600&family=Merriweather:wght@300&family=Playfair+Display&family=Poppins:wght@400;500;600;700&display=swap');


/* wrapper */

body{
    height: 100%;
}

.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


/* Header */

.container{
    max-width: 1133px;
    margin: 0 auto;
    width: 100%;
}

/* Nav */
.nav {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 18px */

    height: 112px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    gap: 233px;
    align-items: center;

}
.nav__logo {
}
.list {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
    gap: 53px;
}
.link:hover {
    text-decoration-line: underline;
    color: #1E47FF;
}

.list__item--active{
    text-decoration-line: underline;
    color: #1E47FF;
}
.log-in {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}


/* HERO */
.hero_container{
    margin: 0 auto;
    max-width: 546px;
    max-height: 287px;

    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero {
    background-image: url('/img/header/background.jpg');
    background-size: cover;
    height: 614px;
    display: flex;
}
.hero__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.hero__title {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 138.5%; /* 69.25px */
}
.hero__text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
}

.hero__footer {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.hero__button {
}
.button {
    display: inline-flex;
    padding: 18px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 162px;

    border-radius: 5px;
    background: #1E47FF;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
}
.hero__number {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    text-decoration-line: underline;
}

/* Word Press */

.word-press {
    color: #000;
    display: grid;
    gap: 27px;
    grid-template-columns: repeat(3, 1fr);

    padding-top: 140px;
}

.word-press__card {
    max-width: 361px;
    height: 352px;
    border-radius: 10px;
    border: 1px solid rgba(30, 71, 255, 0.37);

    padding: 48px 37px;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.word-press__card-img {
}
.word-press__card-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.word-press__card-title {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 138.5%; /* 38.78px */
}
.word-press__card-text {
    color: #666;
    font-family: Inter;

    font-weight: 400;
    line-height: 180%; /* 28.8px */
}

/* Visions */

.vision {
    justify-content: center;
    display: flex;
    flex-direction: row;
    
    margin: 140px 203px;
    margin-left: 245px;
    gap: 106px;
    
}

.vision__image{


}

.vision__visual{
    display: inline-block;
    background: url('/img/visions/red.jpg');
    background-size: cover;

    width: 426.839px;
    height: 457.257px;

}

.vision__visual::after {
    content: url('/img/visions/ofice.jpg');
    display: block;
    position: relative;
    width: 236.478px;
    height: 250.216px;
    bottom: -200px;
    right: -260px;
}

.vision__visual::before{
    content: url('/img/visions/exp.png');

    display: block;
    position: relative;
    width: 158.961px;
    height: 78.499px;
    top: -15px;
    left: -42px;

    background: #1E47FF;
}



.vision__content {

}
.content {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.content__title {
    color: #1B3868;
    font-family: Poppins;
    font-weight: 400;
    line-height: 32px; /* 200% */
    text-transform: uppercase;
}
.content__title2 {
    color: #333;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */

    padding-bottom: 15px;
}
.content__text {
    color: #333;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */

    padding-bottom: 11px;
}
.button {

}


/* Solutions */

.solutions {
    margin-bottom: 151px;
}
.solution__container {
    margin: 125px 151px;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.solution__cards {
    max-width: 1190px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 48px;
    
}

.sulution__card{
    position: relative;
    max-width: 361px;
    height: 523px;

    display: flex;
    flex-direction: column;
    gap: 65px;
}
.solution__cards-image {

    max-width: 361px;
    height: 314px;
}
.solution__cards-button {

    filter: drop-shadow(0px 4px 18px rgba(30, 71, 255, 0.21));
    position: absolute;

    display: inline-flex;
    padding: 18px 25px;
    justify-content: center;
    align-items: center;

    left: 32px;
    top: 274px;
    max-width: 297px;
    max-height: 80px;
    background-color: #fff;
    

}
.solution__cards-button-text {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 30px */
}

.solution__cards-text {
    position: relative;
    color: #6C6C6C;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 181.5%; /* 36.3px */
}

.solution__content{
    margin: 77px auto;
    max-width: 711px;
}

/* decor */

.decoration {
    margin-bottom: 140px;

}
.decroration__image{
    size: cover;
    width: 100%;
}


/* Difference */
.difference {

}
.difference__container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 71px;
    margin-bottom: 253px;


}
.difference__title {
    text-align: center;
    color: #12141D;
    font-family: DM Sans;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: -1.56px;
}
.difference__cards {
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 86px;
}
.difference__card {
}
.card {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 32px;

    max-width: 279px;
    
}
.card__img {
}
.card__content {
}
.card__title {
    color: #12141D;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.72px;
}
.card__text {
    color: #797979;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; /* 175% */
}
.card__footer {
    display: flex;
    align-items: center;
    gap: 4px;
}
.card__link {
    color: #2162F0;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px; /* 200% */
}
.card__arrow {
}

/* Review */

.review {
    position: relative;
}
.review__container {

    margin-left: 135px;
    margin-bottom: 196px;
    max-width: 1315px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 110px;
}
.review__customer {
    width: 510px;
    height: 484px;
    flex-shrink: 0;
    z-index: 3;
}
.review__quote {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 53px;
    z-index: 2;


    

    max-width: 650px;
    height: 379px;
}
.review__title {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
}
.review__text {

    color: #FFF;
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px; /* 150% */
}

.review__quote::before{  
    
    content: '\201c';
    z-index: 2;
    left: 695px;
    top: 150px;
    position: absolute;

    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 65.714% */
}

.review__footer {
    flex-grow: 0;

    color: #FFF;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px; /* 255.556% */
}
.review__footer-name {
    max-height: 23px;

}
.review__footer-text {
    max-height: 23px;
    font-size: 15px;

}

.review__background{
    background: #1E47FF;
    position: absolute;
    width: 100%;
    height: 628px;
    top: -72px;
    left: 426px;
    z-index: 1;
}


.news {

}
.news__container {
    max-width: 1260px;
    display: flex;
    flex-direction: column;
    gap: 72px;

    margin: 0 auto;
    margin-bottom: 100px;
}
.news__title {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
}
.news__cards {
}
.cards-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}
.cards-news__card {
    display: flex;
    gap: 26px;
    flex-direction: column;
}
.cards-news__header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}
.cards-news__type {
    position:absolute;
    top: 21px;
    left: 21px;

    width: 72px;
    height: 28px;

    border-radius: 5px;
    background: rgba(22, 19, 62, 0.45);

    color: #FFF;
    text-align: center;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px; /* 200% */
}
.cards-news__img {

}
.cards-news__title {
    color: #16133E;
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px; /* 150% */
}
.cards-news__footer {
        
    padding-bottom: 48px;

    border-bottom: 1px solid #E7ECF2;
}
.news-footer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}
.news-footer__img {
}
.news-footer__name {

    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 200% */
}

/* Contact Us */

.contact-us {
    background: url('/img/contact_us.jpg');
    width: 100%;
    background-size: cover;
    color: #FFF;
}
.contact-us__container {
    margin: 0 auto;

    max-width: 600px;
    height: 491px;


    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    gap: 32px;
}

.contact-us__title {

    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 133.333% */
}
.contact-us__text {
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.contact-us__button {
    border-radius: 50px;
    background: #1E47FF;
}

.footer {
    margin: 0 auto;
}

.footer__header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:484px;
    width: 100%;
    height: 190px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1257px;
    height: 365px;
    margin: 48px;
    margin: 62px;
    margin: 121px;
}
.footer__logos {
    width: 300px;
    max-height: 151px;
    display: inline-flex;
    flex-direction: column;
    gap: 78px;
}
.footer__down-logos {
}

.footer__lists{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 134px;
}
.footer__list-container {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
    margin-top: 10px;
}

.footer__list-title {
    color: #16133E;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer__list {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.footer__item {
    color: #8B8F95;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.footer__footer {
    color: #8B8F95;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__links {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.footer__links-item {
}
.author {
}